/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

.bg-purple {

  background-color: rgb(85, 35, 85);

}

.text-justify {

  text-align: justify !important;

}

button.navbar-toggler,
button.navbar-toggler:hover,
button.navbar-toggler:active,
button.navbar-toggler:focus,
button.navbar-toggler.collapsed, 
button.navbar-toggler.collapsed:hover, 
button.navbar-toggler.collapsed:active, 
button.navbar-toggler.collapsed:focus,
button.navbar-toggler-icon, 
button.navbar-toggler-icon:focus, 
button.navbar-toggler-icon:active, 
button.navbar-toggler-icon:hover {

  outline: none !important;
  box-shadow: none !important;
  border-color: transparent;

}

.not-found {

  margin-top: 18%;
  line-height: 50px;
  user-select: none;

}

@media only screen and (max-width: 992px) {

  .not-found {

    margin-top: 25%;

  }

}

@media only screen and (max-width: 768px) {

  .not-found {

    margin-top: 35%;

  }

}

@media only screen and (max-width: 556px) {

  .not-found {

    margin-top: 55%;

  }

}